<h2>Output</h2>
<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js"></script>
<link href="https://cdn.rawgit.com/google/code-prettify/master/src/prettify.css" rel="stylesheet" />
<div class="container">
    <a onclick="javascript: $('.prettyprint').empty();">Clear</a>
    <pre class="prettyprint lang-json"></pre>
</div>

<div class="container" ng-show="authorized">

    <div class="row">
        <div class="col-lg-12">
            <h1>Project Dashboard</h1>
            <ul class="projects">
                <li class="col-lg-3 col-md-4 col-sm-6" ng-repeat="board in boards" ng-click="setDashboard()" ng-show="!dashboardSet">
                    <span>{{board.name}}</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12" ng-model="board">
            <h2>{{board.name}}</h2>
        </div>
    </div>

    <div class="row" ng-repeat="(key, value) in cards | groupBy: 'idList'">
        <h3>{{getListName(key)}}</h3>
        <div class="project col-lg-6" ng-repeat="card in value" ng-class="{ blocked: isBlocked(), pending: isPending() }">
            <big>{{card.name}}</big>

            <a class="icon" href="{{card.shortUrl}}"><i class="fa fa-eye"></i></a>
            <a class="icon" href="mailto:{{card.email}}"><i class="fa fa-commenting-o"></i></a>
            <br />
            <progress ng-show="card.badges.checkItems > 0" value="{{getPercentComplete(card)}}" max="100">test</progress>
        </div>
    </div>
</div>
