<div class="container" ng-show="authorized">
    <div class="row">
        <div class="col-lg-12">
            <h1>Project Dashboard</h1>
            <ul class="projects">
                <li class="col-lg-3 col-md-4 col-sm-6" ng-repeat="board in boards" ng-click="setDashboard()">
                    <span>{{board.name}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" ng-model="board">
            <h2>{{board.name}}</h2>
        </div>
    </div>
    <div class="row">
        <section class="col-lg-12">
            <h2>Projects</h2>
            <div class="project col-lg-6" ng-repeat="card in cards | filter: activeProjects">
                <big>{{card.name}}</big>
                @*<p>{{card.desc}}</p>*@
                <span>{{ getStatus(card.idList) }}</span>
                
                <a class="icon" href="{{card.shortUrl}}"><i class="fa fa-eye"></i></a>
                <a class="icon" href="mailto:{{card.email}}"><i class="fa fa-commenting-o"></i></a>
                <br/>
                <progress value="{{ getCompletion(card) }}" max="100">test</progress>
            </div>
            
        </section>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Change Orders</h2>
            <div class="col-lg-3" ng-repeat="card in cards | filter: { labels: { name: 'Change Order' } }">{{card.name}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Support</h2>
            <div class="col-lg-3" ng-repeat="card in cards | filter: { labels: { name: 'Support' } }">{{card.name}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Content</h2>
            <div class="col-lg-3" ng-repeat="card in cards | filter: { labels: { name: 'Content' } }">{{card.name}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h2>Other</h2>
            <div class="col-lg-3" ng-repeat="card in cards | filter: notLabeled">{{card.name}}</div>
        </div>
    </div>
</div>
