.projects {
    list-style: none;
}

    .projects li {
        padding: 12px;
    }

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #111;
    position: relative;
    z-index: -10;
    color: #bbb;
    font-family: monospace;
}

.body-content {
    margin-top: 10px;
}

#world {
    position: absolute;
    z-index: -5;
}

.task {
    border: solid 2px #000;
    border-radius: 5px;
    background-color: rgba(255,255,255,.2);
    min-height: 60px;
    margin: 6px 0;
    background: url('images/dark_embroidery.png') repeat top left;
    padding: 6px 12px;
}

    .task.blocked {
        background: url('images/dark_embroidery_blocked.png') repeat top left;
    }

    .task.pending {
        opacity: .8;
        background: url('images/dark_embroidery_pending.png') repeat top left;
    }

    .task big {
        font-size: 1.6rem;
    }

    .task .small {
        font-size: 1.2rem;
    }

    .task .due {
        float: right;
        background-color: #111;
        padding: 4px 4px 0px;
        margin: -8px 13px 0 0;
        border: solid 2px #000;
        border-radius: 0 0 5px 5px;
        border-top: none;
        box-shadow: #000 2px 2px 15px;
    }

    .task .type {
        padding: 4px 6px;
        border-radius: 7px;
        margin-left: 8px;
        color: #111;
        font-family: monospace;
        opacity: .4;
        background-color: yellow;
        position: absolute;
        bottom: 4px;
        left: -5px;
    }

.deck {
    height: 180px;
    border-radius: 10px;
    background-color: #369;
}

    .deck .big {
        margin: 6px;
    }

.icon {
    color: #ddd;
    font-size: 20px;
}

    .icon:hover {
        color: #fff;
    }

progress {
    width: 100%;
    height: 14px;
    display: block;
    /* Important Thing */
    -webkit-appearance: none;
    border: none;
}

    /* All good till now. Now we'll style the background */
    progress::-webkit-progress-bar {
        background: #222;
        border-radius: 50px;
        padding: 2px;
        box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2);
    }

    /* Now the value part */
    progress::-webkit-progress-value {
        border-radius: 50px;
        box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
        background: -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #ba7448, #c4672d);
        /* Looks great, now animating it */
        background-size: 25px 14px, 100% 100%, 100% 100%;
        -webkit-animation: move 5s linear 0 infinite;
    }

.login {
    position: relative;
    z-index: 10;
    float: right;
}

.members ul {
    margin: 0;
    padding: 0;
}

.members li {
    list-style: none;
    padding: 0;
    margin: 0;
    margin: 10px 0;
}

.members img {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    border-radius: 10px;
}

.members .available {
    color: aquamarine;
}
